<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Permalink</th>
    <th>Keywords</th>
    <th>Description</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.position %></td>
    <td><%= category.permalink %></td>
    <td><%= category.keywords %></td>
    <td><%= category.description %></td>
    <td><%= category.parent_id %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_admin_category_path %>
