<div class="row-fluid">

  <div class="span3">
    <div class="date">
      <div class="published">
        <div class="day pull-left"><%= post.created_at.day %></div>
        <div class="month pull-right"><%= "#{post.created_at.strftime("%B")} #{post.created_at.year}" %></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="author">
      by Yigit Bacakoglu
    </div>
    <div class="tags">
      <i class="icon-tags"></i>
      <span class="label"><a href="">HTML5</a></span>
      <span class="label"><a href="">CSS3</a></span>
      <span class="label"><a href="">Photography</a></span>
      <span class="label"><a href="">Design</a></span>
    </div>
    <div class="comments">
      <i class="icon-comments"></i> <a href="blog_post.html#comments">10 comments</a>
    </div>
  </div>
  <div class="span9">
    <h3><%= post.title %></h3>

    <%= all ? post.body.html_safe : post.body.truncate(1000).html_safe %>

    <% if (post.vimeo_key.present? rescue false) %>
        <p>
          <iframe src="http://player.vimeo.com/video/<%= post.vimeo_key %>?badge=0" width="100%" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </p>
    <% end %>

    <% unless all %>
        <p>
          <a class="btn pull-right" href="<%= post_path(post) %>">Read more ...</a>
        </p>
    <% end %>
  </div>

</div>

<hr class="solid">

