<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">   <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>YCB | Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "blog/jquery.fancybox.pack" %>

  <!--[if lt IE 9]>
<%= javascript_include_tag "blog/respond" %>
<![endif]-->


  <%= javascript_include_tag "blog/app" %>

  <%= stylesheet_link_tag "blog/bootstrap.min" %>
  <%= stylesheet_link_tag "blog/bootstrap-responsive.min" %>
  <%= stylesheet_link_tag "blog/font-awesome" %>
  <%= stylesheet_link_tag "blog/style" %>
  <%= stylesheet_link_tag "blog/style_responsive" %>
  <%= stylesheet_link_tag "blog/animate" %>
  <%= stylesheet_link_tag "blog/effects" %>
  <%= stylesheet_link_tag "blog/jquery.fancybox" %>
</head>

<body>

<div id="header">

  <div class="container">

    <div class="row-fluid">

      <div id="logo">

        <img src="/assets/blog/logo.png" class="hide1" alt="Logo">

      </div>
      <!-- /logo -->

      <div id="menu">

        <div class="navbar pull-right">

          <div class="navbar-inner">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a><!-- /nav-collapse -->

            <div class="nav-collapse collapse">

              <ul class="nav">
                <li class="active"><a href="blog.html">Blog</a></li>
                <li><a href="faq.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="contact.html">Request Quote</a></li>
              </ul>
              <!-- /nav -->

            </div>
            <!-- /nav-collapse -->

          </div>
          <!-- /navbar-inner -->

        </div>
        <!-- /navbar -->

      </div>
      <!-- /span9 -->

    </div>
    <!-- /row-fluid -->

  </div>
  <!-- /container -->

</div>
<!-- /header -->

<div id="page">
  <div class="container">
    <%= yield :container_nav %>
  </div>

</div>
<!-- /page -->

<div id="body">
  <div class="container">
    <div class="row-fluid blog">
      <div class="span9">
        <%= yield :container_body %>
      </div>

      <div class="span3">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>

</div>
<!-- /body -->

<div id="footer">

  <div class="container">

    <div class="row-fluid margin-top-20">

      <div class="span12">

        <div id="quick-menu" class="span6 pull-right">
          <ul class="menu white pull-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!-- /quick-menu -->

        <div id="copyright" class="span6 pull-left">
          &copy; <%= Date.today.year %> yigitbacakoglu.com  All Rights Reserved.
        </div>
        <!-- /copyright -->

      </div>

    </div>

  </div>

</div>
<!-- /footer -->


</body>
</html>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!-- Localized -->