<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">   <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Creativo | Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= javascript_include_tag "blog/jquery-1.8.2.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "blog/jquery.fancybox.pack" %>

  <!--[if lt IE 9]>
<%= javascript_include_tag "blog/respond" %>
<![endif]-->


  <%= javascript_include_tag "blog/app" %>

  <%= stylesheet_link_tag "blog/bootstrap.min" %>
  <%= stylesheet_link_tag "blog/bootstrap-responsive.min" %>
  <%= stylesheet_link_tag "blog/font-awesome" %>
  <%= stylesheet_link_tag "blog/style" %>
  <%= stylesheet_link_tag "blog/style_responsive" %>
  <%= stylesheet_link_tag "blog/animate" %>
  <%= stylesheet_link_tag "blog/effects" %>
  <%= stylesheet_link_tag "blog/jquery.fancybox" %>
</head>

<body>

<div id="header">

  <div class="container">

    <div class="row-fluid">

      <div id="logo">

        <img src="/assets/blog/logo.png" class="hide1" alt="Logo">

      </div>
      <!-- /logo -->

      <div id="menu">

        <div class="navbar pull-right">

          <div class="navbar-inner">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a><!-- /nav-collapse -->

            <div class="nav-collapse collapse">

              <ul class="nav">
                <li class="active"><a href="blog.html">Blog</a></li>
                <li><a href="faq.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="contact.html">Request Quote</a></li>
              </ul>
              <!-- /nav -->

            </div>
            <!-- /nav-collapse -->

          </div>
          <!-- /navbar-inner -->

        </div>
        <!-- /navbar -->

      </div>
      <!-- /span9 -->

    </div>
    <!-- /row-fluid -->

  </div>
  <!-- /container -->

</div>
<!-- /header -->

<div id="page">
  <div class="container">
    <%= yield :container_nav %>
  </div>

</div>
<!-- /page -->

<div id="body">
  <div class="container">
    <div class="row-fluid blog">
      <div class="span9">
        <%= yield :container_body %>
      </div>

      <div class="span3">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>

</div>
<!-- /body -->

<div id="footer">

  <div class="container">

    <div class="row-fluid">
      <div class="span12">
        <a class="top" href="javascript:;">top</a>
      </div>
    </div>

    <div class="row-fluid">

      <div class="span3">
        <h4>About Us</h4>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="span3">
        <h4>Latest From Blog</h4>

        <p>

        <div class="row-fluid">
          <div class="span4">
            <a class="" href="blog.html">
              <img class="img-rounded" src="/assets/blog/blog/thumb1.jpg">
            </a>
          </div>
          <div class="span8">
            Cras sit amet nibh libero, in gravida nulla, in gravida nulla...
            <br><a href="blog.html" class="">read more</a>
          </div>
        </div>
        <div class="row-fluid margin-top-10">
          <div class="span4">
            <a class="" href="blog.html">
              <img class="img-rounded" src="/assets/blog/blog/thumb2.jpg">
            </a>
          </div>
          <div class="span8">
            Fusce condimentum nunc ac nisi vulputate nunc ac nisi...
            <br><a href="blog.html" class="">read more</a>
          </div>
        </div>
        </p>
      </div>

      <div class="span3">
        <h4>Contact</h4>

        <p>
          <span class="grey-light">Address:</span>&nbsp;<span class="">25, Lorem Lis, California, US</span><br>
          <span class="grey-light">Phone:</span>&nbsp;<span>800 123 3456</span><br>
          <span class="grey-light">Fax:</span>&nbsp;<span class="">800 123 3456</span><br>
          <span class="grey-light">Email:</span>&nbsp;<a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>

        <div class="margin-top-5">
          <a href="contact.html">
            <img src="/assets/blog/map.jpg"
                 alt="map" class="img-rounded tooltips" data-original-title="View our location">
          </a>
        </div>
        </p>
      </div>

      <div class="span3">
        <h4>Subscribe</h4>

        <p>
          Subscribe to our newsletter and stay up to date with the latest news and deals!
        </p>

        <form class="form-inline">
          <input type="text" class="input-medium" placeholder="Your email">
          &nbsp;
          <button type="submit" class="btn btn-inverse">Go</button>
        </form>

        <h4>Stay Tuned</h4>

        <p>
          <a href="#" class="iconify"><i class="icon-linkedin"></i></a>
          <a href="#" class="iconify"><i class="icon-google-plus"></i></a>
          <a href="#" class="iconify"><i class="icon-twitter"></i></a>
          <a href="#" class="iconify"><i class="icon-facebook"></i></a>
          <a href="#" class="iconify"><i class="icon-pinterest"></i></a>
        </p>
      </div>

    </div>
    <!-- /row-fluid -->

    <div class="row-fluid visible-phone">
      <div class="span12">
        <a class="top" href="javascript:;">top</a>
      </div>

    </div>

    <div class="row-fluid margin-top-20">

      <div class="span12">

        <div id="quick-menu" class="span6 pull-right">
          <ul class="menu white pull-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!-- /quick-menu -->

        <div id="copyright" class="span6 pull-left">
          &copy; 2012 Creativo. All Rights Reserved.
        </div>
        <!-- /copyright -->

      </div>

    </div>

  </div>

</div>
<!-- /footer -->


</body>
</html>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!-- Localized -->